
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*Brown, tan, olive green, black*/
/*Brown, tan, olive green, black*/
:root {
    --off-black: #313638;
    --tan: #F1D3B3;
    --olive-green: #87805F;
    --brown: #837066;
}

#borderimg1 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('/images/border.svg') 30 round;
}

.page-wrapper {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-image: url(“/coffee-project/images/coffee-beans.jpg”);
}

fieldset {
    background-color: var(--olive-green);
    border-radius: 20px;
    border: 5px solid black
}

#header {
    max-width: 100%;
    height: 100%;
    width: 100%;
    background-color:var(--off-black);
    color: white;
    z-index: 1;
    position: sticky;
    height: 100px;
    border-bottom: 1px black solid;
    outline: unset  ;
    box-shadow: 0px 0px 8px 2px #000000;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-image: url("/images/coffee.jpeg");
    background-size: cover;
}
/*.container{*/
/*    row-gap: unset;*/
/*}*/
 #row-background {
     /*background-color: #C7B9A9;*/
     background-image: url("/images/pexels-ylanite-koppens-796609.jpg");
     background-size: contain;
     padding-top: 20px;

 }
table {
    border-collapse: collapse;
    margin: 15px 0;
}
#searchbar {
    width: 100%;
    border-radius: 20px;
}
#newCoffeeName {
    width: 100%;
    border-radius: 20px;

}

#submit {
    width: 100%;
    border-radius: 5px;
    background-color: #C8BAAA;
    color: white;
}
#roast-selection {
    width: 100%;
    border-radius: 20px;

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/
.header-background{
    background-color: #C8BAAA;
    padding: 20px;
}
.header-line {
    width:50%;
    color: #000;
    border: 1px solid darkgrey;
    width: 100%;
}


/*.button {*/
/*    border: darkblue;*/
/*    color: white;*/
/*    background-color: #1DA1F2;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*    display:flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-weight: 600;*/
/*}*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.coffee {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 5px;

}
h1 {
    color: saddlebrown;
}

.coffee h2 {
 font-weight: bold;
 color: navajowhite;
}

.coffee p {
    font-weight: bold;
    color: white;
}

.coffee-search {
    border: 1px solid #C8BAAA;
    border-radius: 30px;
}

button {
    color: white;
    background-color: #0c87da;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
}

form {
    width: 100%;
}

