/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

.header-line {
    width:50%;
    color: #000;
    border: 1px solid darkgrey;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.coffee {
    /*background-color: #f9f9f9;*/
    /*border: 1px solid #ddd;*/
    /*padding: 10px;*/
    /*text-align: center;*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 5px;


}


.coffee h2 {
 font-weight: bold;

}

.coffee p {
    font-weight: bold;
    color: gray;

}