
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*Color Theme: Brown, tan, olive green, black*/
:root {
    --off-black: #313638;
    --tan: #F1D3B3;
    --olive-green: #87805F;
    --brown: #837066;
}

.page-wrapper {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-image: url(/images/coffee-beans.jpg”);
}

fieldset {
    background-color: var(--olive-green);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 8px 2px #000000;

}

input {
    margin-bottom: 20px;
    border:unset;
}

header {
    height: 100px;
    border-bottom: 1px black solid;
    outline: unset ;
    box-shadow: 0px 0px 8px 2px #000000;
    background-image: url("/images/dark-wood.jpg") ;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-image: url("/images/coffee.jpeg");
    background-size: cover;
}

 #row-background {
     background-image: url("/images/pexels-ylanite-koppens-796609.jpg");
     background-size: contain;
     padding-top: 20px;
     padding-bottom: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 8px 2px #000000;


 }
table {
    border-collapse: collapse;
    margin: 15px 0;
}
#searchbar {
    width: 100%;
    border-radius: 20px;
}

#newCoffeeName {
    width: 100%;
    border-radius: 20px;
}

#newCoffeeRoast {
    width: 100%;
    border-radius: 20px;
}

#submit {
    width: 100%;
    border-radius: 10px;
    background-color: #C8BAAA;
    color: saddlebrown;
    border: unset;
    font-weight: 700;
    box-shadow: 0 9px var(--off-black);
}

#submit:hover {
    background-color: #AC896C;
}

#submit:active {
    background-color: #AC896C;
    box-shadow: 0 5px black;
    transform: translateY(4px);
}

#roast-selection {
    width: 100%;
    border-radius: 20px;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.header-background{
    background-color: #C8BAAA;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    overflow: auto;
    height: 400px;
    padding: 20px
}

.coffee {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 5px;
    background-color: var(--olive-green);
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px #000000;;
    transition: all ease .3s;
}

.coffee:hover {
    transform: scale(1.1);
}

legend {
    color:white;
    text-align: center;
}

h1 {
    color: white;
    font-weight: bold;
}

.coffee h2, h3{
 font-weight: bold;
 color: navajowhite;
}

.coffee p {
    font-weight: bold;
    color: white;
}

.coffee-search {
    border: 1px solid #C8BAAA;
    border-radius: 30px;
}

button {
    color: white;
    background-color: #0c87da;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
}

form {
    width: 100%;
}

.fieldset-gap {
    gap: 20px;
}

.top-container {
    background-color: #3F3F3F;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: navajowhite ;
    border: 2px solid black
}

@media screen and (max-width: 768px) {
    .transition {
        display: flex;
        flex-direction: column;
        flex-wrap: unset;
    }
    #row-background {
        flex-direction: column-reverse;
    }
    fieldset {
        /*margin: 10px;*/
        padding: 30px 50px;
        width: 100%;
    }
}

